body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.password-settings {
    margin-bottom: 20px;
}

#length {
    vertical-align: middle;
}

#length-value {
    vertical-align: middle;
    margin-left: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

#password {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}